In [1]:
import os
import cx_Oracle
import pyora
import pandas as pd

## CX_Oracle

In [2]:
# database configuration
pyora.db_setup("jupyter", "admin", "")

# add TNS_ADMIN to the environment
os.environ['TNS_ADMIN'] = '/home/jovyan/work/wallet/jupyter'

In [3]:
connection = cx_Oracle.connect("admin", "", "jupyter_high")
cursor = connection.cursor()
cursor.arraysize = 5000 #tune array size

In [4]:
sql = """
SELECT CUST_ID, SUM(AMOUNT_SOLD) AS TOTAL_SALES 
FROM SH.SALES 
GROUP BY CUST_ID 
ORDER BY SUM(AMOUNT_SOLD) 
DESC
"""

In [5]:
data = cursor.execute(sql).fetchall()

In [6]:
pd.DataFrame(data).head()

       0          1
0  11407  103412.66
1  10747   99578.09
2  42167   98585.96
3   4974   98006.16
4  12783   97573.55

In [7]:
cursor.close()
connection.close()

## SQL Magic

In [ ]:
%load_ext sql
%sql oracle+cx_oracle://admin:@jupyter_medium

In [ ]:
%%sql result <<
SELECT CUST_ID, SUM(AMOUNT_SOLD) AS TOTAL_SALES FROM SH.SALES 
GROUP BY CUST_ID 
ORDER BY SUM(AMOUNT_SOLD) DESC

In [ ]:
df = result.DataFrame()
df.head()